/* .overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1111;
  background-color: rgba(0, 0, 0, 0.2);
} */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* background-color: rgba(0, 0, 0, 0.5); */
    /* Màu đen với độ trong suốt 50% */
    z-index: 1000;
    /* Đảm bảo lớp overlay nằm phía trên phần tử nền */
  }
  
  .loader {
  
    position: relative;
    left: calc(50% - 2rem);
    top: 50vh;
    margin-top: -2rem;
    opacity: 1 !important;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    border: 3px solid;
    border-color: cornflowerblue cornflowerblue transparent transparent;
    animation: rotation 1s linear infinite;
    background-color: transparent;
  }
  
  .loader::after,
  .loader::before {
  
    content: "";
  
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    border: 3px solid;
    border-color: transparent transparent crimson crimson;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    animation: rotationBack 0.5s linear infinite;
    transform-origin: center center;
  }
  
  
  .loader::before {
  
  
    border-color: cornflowerblue #fff transparent transparent;
    animation: rotation 2s linear infinite;
  }
  
  
  @keyframes rotation {
    0% {
      transform: rotate(0deg);
    }
  
    100% {
      transform: rotate(360deg);
    }
  }
  
  @keyframes rotationBack {
    0% {
      transform: rotate(0deg);
    }
  
    100% {
      transform: rotate(-360deg);
    }
  }